.cmain-div{
    height: 100%;

    background-color: rgb(0, 0, 0);
    width: 100%;
}
.contact-div{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner-video{
    object-fit: cover;
    opacity: 0.4;
    max-height: 550px;
    width: 100%;
    background-color: black;
    margin: 0px;
   
}
.insta{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 30px;
}
.proj p{
  font-size: 35px;
    letter-spacing: 6px;
    text-align: center;
    color: #566974;
}
.proj label{
  text-align: center;
  color: #566974;
}
.socialm{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.socialm img{
  width: 51px;
    object-fit: contain;
    border-radius: 30px;
}
.message-div{
  box-shadow: 10px 10px 6px grey;
  width: 40%;
  min-width: 200px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: white;
  border-radius: 10px;
}
.btn-div{
  display: flex;
  justify-content: end;
}
.btn-div button{
  padding: 8px 30px;
    border-radius: 10px;
    border: none;
    background: #dcd8d8;
    font-size: 12px;
}
.send-btn :hover{
  background: #a3a2a2;
}
.break-d{
  height: 2px;
  padding: 1px;
  width: 95%;
  background-color: gray;

}
.media-d{
  width: 100%;
  display: flex;
  justify-content: center;
 
  gap: 1rem;
}
.contact-c{
  width: 100%;
  padding-bottom: 2rem;
}
.contact-c h2{
  /* padding-top: 5rem; */
    letter-spacing: 8px;
    color: #747474;
    padding-left: 3rem;
}

.social-media-links  :hover{
  background-color: #cd486b
}
.social-media-links1  :hover{
  background-color: #3b5998
}
.social-media-links3  :hover{
  background-color: 	#25D366
}
.social-media-links4 :hover{
  background-color: 	#cb1616

}
.instalogo{
  text-decoration: none;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 32px;
    font-size: 18px;
    border-radius: 50%;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instalogo svg{
  color: white;
}
@media (max-width: 500px){
  /* .media-d{
    display: grid;
    grid-template-columns: repeat(2, auto);
  
  } */
}
@media (max-width: 390px){
  .contact-c h2{
    padding-top: 0;
  }
}